{% extends 'admin/change_list.html' %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
</div>
{% endblock %}

{% block result_list %}
  <table style="width:50%">
    <caption>
      Dashboard
    </caption>
    <tr>
      <td style="width:50%">Total users</td>
      <td style="width:50%">{{ total_users }}</td>
    </tr>
    <tr>
      <td>Users registered per last week</th>
      <td>{{ registered_per_week }}</td>
    </tr>
    <tr>
      <td>Total posts</th>
      <td>{{ total_posts }}</td>
    </tr>
    <tr>
      <td>Total likes</td>
      <td>{{ total_likes.likes__sum }}</td>
    </tr>
    <tr>
      <td>Total comments</td>
      <td>{{ total_comments }}</td>
    </tr>
  </table>
{% endblock result_list %}

