{% extends 'admin/change_list.html' %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
</div>
{% endblock %}

{% block result_list %}
  <table>
    <caption>
      Dashboard
    </caption>
    <tr>
      <th scope="row">Total users: {{ total_users }}</th>
    </tr>
    <tr>
      <th scope="row">Users registered per last week: {{ registered_per_week }}</th>
    </tr>
    <tr>
      <th scope="row">Total posts: {{ total_posts}}</th>
    </tr>
    <tr>
      <th scope="row">Total likes: {{ total_likes.likes__sum }}</th>
    </tr>
    <tr>
      <th scope="row">Total comments: {{ total_comments }}</th>
    </tr>
  </table>
{% endblock result_list %}

