{% extends "base.html" %}

{% block content %}
  <h1 class="text-primary">{{ post.title }}</h1>
  <img src="{{ post.main_image.cropped_image_url }}" class="float-start me-3" alt="{{ post.main_image.name }}">
  <p>{{ post.body }}</p>

  <div class="clearfix"></div>
  <div class="float-start">
    {% if post.additional_images.all %}
        <h2 class="text-primary">Additional images</h2>
        {% for image in post.additional_images.all %}
        <img src="{{ image.additional_cropped_image_url }}" class="float-start me-3" alt="{{ image.name }}">
        {% endfor %}
    {% endif %}
  </div>
  <div class="clearfix"></div>
  <div class="card-body">
    <p><strong>Author: </strong>{{ post.author.get_full_name }}, from {{ post.author.city }}</p>
    <p><strong>Likes: </strong>{{ post.likes }}</p>
  </div>

  <div class="card mt-2">
    <div class="card-body">
      <h4 class="text-primary">Comments</h4>
      {% if post.comment_set %}
        {% for comment in post.comment_set.all %}
          <div class="card mt-2">
            <div class="card-body">
            <p>{{ comment.body }}</p>
            <p>
              <span class="fw-bold"><small>Left by {{ comment.author.get_full_name }}"</small></span>
            </p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>There are no comments yet.</p>
      {% endif %}
    </div>
  </div>
  <p><a class="text-decoration-none fw-bold" href="{% url 'blog:post_list' %}">More posts</a></p>

{% endblock %}
